fastapi
uvicorn
python-dotenv
requests
psycopg2-binary
chromadb>=1.5.5
groq
google-genai
firecrawl-py
supabase
scrapy
langchain
langchain-community
langchain-groq
langchain-google-genai
pypdf
pandas
python-multipart
